$pageWidth: 750px;
$mobileBreakpoint: 400px;
$tabletBreakpoint: 500px;
$sidePanelWidth: 330px;
$topSpacing: 4rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
